.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 25px 25px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}
