.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-three-quarters {
  margin: 0px 5px;
}
